body {
    font-size: 16px;
    font: arial;
    color: black;
    background-color: blue;
}




#header-nav {
    background-color: grey;
    border-radius: 0;
    border: 0;
}

#header-nav button {
    margin-top: 20px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: grey;
}

.navbar-collapse {
    border-top: 0;
}

.navbar-brand, .navbar-nav li a {
    height: 100px;
    padding-top: 10;
}

.navbar-brand h1 {
    color: #7d1913;
    font-size: 25px;
}

.navbar-brand a:hover {
    text-decoration: none;
    text-shadow: .5px 1px .5px #fe9797;
}

#nav-list {
    background-color: blue;
}

#nav-list a {
    font-weight: bolder;
    color: blue;
    font-size: 20px;
}

#nav-list a:hover {
    color: blue;
    background-color: grey;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid black;
}

#main-section {
    background-color:grey;
    box-shadow: 0 0 50px black;
    padding: 20px;
}

#main-content {
    width: 90%;
    margin-bottom: 50px;

}

#main-content h2 {
    font-size: 20px;
    margin: 50px;
}

#main-content h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

