body {
  font-size: 16px;
  color: grey;
  background-color: Grey;
  font-family: 'Courier', sans-serif;
}



#header-nav {
    background-color: #grey;
    border-radius: 0;
    border: 0;
    height: 80px;
}



.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #grey;
}

.navbar-collapse {
    border-top: 0;
}



.navbar-brand a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 1px #grey;
}



#nav-list a:hover {
    color: grey;
    background-color: #blue;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid black;
}


@media (min-width:767px){
    #content{
       visibility: hidden;
    }
}

@media (min-width:767px){
    section p{
       margin: 20px;
    }
}

#content #list .nav-item .nav-link{
    background-color:grey;
    border: 0.5px solid black;
    text-align: center;
    margin: 10px;
}

#Chicken{
    background-color: grey;
    margin: 20px;
    height: auto;
  font-color: black;
}

#Beef{
   
    margin: 20px;
    background-color: grey;
    height: auto;
    font-color: black;
    
}
#Sushi{
   
    background-color: grey;
    height: auto;
    margin: 20px;
    font-color: black;
  
    
}
